[Unit]
Description=Daily Timer for aircheq-podcast 

[Timer]
OnCalendar=Mon,Tue,Wed,Thu,Fri,Sat,Sun *-*-* 4:50:00
Unit=aircheq-podcast.service

[Install]
WantedBy=timers.target
